<div>
  <button (click)="startDownload()">Download cources list</button>
  <div *ngIf="isAuth">
    <div class="user-panel">
      <div class="search-box">
        <input #filterInput placeholder="Name fragment or data">
        <button (click)="buttonClick(filterInput.value)">Search</button>
      </div>
      <button (click)="addCourceClick()">Add cource</button>
    </div>
    <div *ngIf="courcesCollection && courcesCollection.length">
      <app-cource-collection
        [courcesCollection]="courcesCollection"
        [filterConditionFromInput]="filterConditionFromInput"
      ></app-cource-collection>
    </div>
    <!--<div *ngIf="courcesCollection && !courcesCollection.length">-->
      <!--<h2>No data. Feel free to add new cource</h2>-->
    <!--</div>-->
  </div>
  <app-login-page *ngIf="!isAuth" [loginFromLoginPage]="loginFromLoginPage"></app-login-page>
</div>
