:host {
  header {
    border-bottom: 2px solid red;
  }

  .header-top {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    background: url(http://www.gau.edu.tr/images/logo/logo_kartal.png);
    background-size: cover;
  }
}
