<div *ngIf="cource">
  <p>id: <span>{{ cource._id }}</span></p>
  <p> Title:
    <input [(ngModel)]="cource.title">
  </p>
  <p>
    Description:
    <input [(ngModel)]="cource.description">
  </p>
  <p>
    Creation:
    <input type="date" (ngModelChange)="cource.creation = $event" [ngModel]="cource.creation | date: 'yyyy-MM-dd'" >
  </p>
  <p> Duration:
    <input [(ngModel)]="cource.duration">
    <span>{{ cource.duration | transformDuration }}</span>
  </p>
  <p> Top rated:
      <input type="checkbox" [checked]="cource.topRated" (change)="cource.topRated = !cource.topRated">
  </p>

  <button (click)="saveChanges()" [disabled]="validate()">save changes</button>
  <button routerLink="../">cancel</button>
</div>
