<div class="search-box-container">
  <input
    #input
    (input)='searchChangeHandler(input.value)'
    type="search"
    placeholder="Begin to type the title of the cource and let's see what we can do about it"
  >
  <div class="result-container">
    <ul *ngIf="resultCourcesList.length">
    <li *ngFor="let courceResult of resultCourcesList">
      <a [routerLink]="['/cources/', courceResult.id]">{{ courceResult.title }}</a>
    </li>
  </ul>
    <div  class="search-box-spinner" *ngIf="loading">Loading...</div>
  </div>
</div>
